.sidebar-wrapper {
  display:none;
}

.user-info {
  margin: 20px;
}

.modal-title {
  color:black;
}

.space {
  margin-top:30px;
}

.menu {
  display:none;
}

.login-menu {
  padding-bottom: 20px;
  text-indent: -14px;
  display:none;
}

.log-button {
  margin: 10px;
}

.home-logout {
  margin-left:10px;
}

.button-group {
  text-align: center;
}

.mobile-nav {
  display: block;
  z-index:100000;
  width:100%;
  top:0;
  position:fixed;
  background-color:black;
}

@media (min-width:598px) {
.sidebar-wrapper {
  display:block;
}

.mobile-nav {
  display: none;
}

.mobile-user {
  display:none;
}

.login-menu {
  display:block;
}
.menu {
  display:block;
}
.desktop-button {
  background-color: black;
  color:white;
}

body {
  overflow-x: hidden;
}

.wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper.toggled {
  padding-left: 250px;
}

.sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper.toggled .sidebar-wrapper {
  width: 250px;
}

.page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

.wrapper.toggled .page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 30px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

label {
  display: block;
  text-decoration: none;
  color: white;
}

.entry {
  text-indent: 20px;
}

.user {
  font-size: 25px;
  margin-top: 10px;
}

.secondary {
  color: #999999;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

@media (min-width:768px) {
  .wrapper {
    padding-left: 0;
  }
  .wrapper.toggled {
    padding-left: 250px;
  }
  .sidebar-wrapper {
    width: 0;
  }
  .wrapper.toggled .sidebar-wrapper {
    width: 250px;
  }
  .page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  .wrapper.toggled .page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
}